absl-py==1.4.0
accelerate @ git+https://github.com/huggingface/accelerate.git@535b52cef22c81a5cd01f971d0a573dd1c73762d
aiohttp==3.8.4
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
asttokens
async-timeout==4.0.2
attrs==23.1.0
backcall
backports.functools-lru-cache
bitsandbytes==0.39.0
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
datasets==2.12.0
debugpy
decorator
dill==0.3.6
entrypoints
evaluate==0.4.0
executing
filelock==3.12.2
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
huggingface-hub==0.14.1
idna==3.4
iopath==0.1.10
ipykernel
ipython
jedi
joblib==1.2.0
jupyter-client
jupyter_core
kiwisolver==1.4.4
lxml==4.9.2
matplotlib==3.7.1
matplotlib-inline
multidict==6.0.4
multiprocess==0.70.14
nest-asyncio
nltk==3.8.1
numpy==1.22.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
omegaconf==2.3.0
packaging==23.1
pandas==1.3.5
parso
peft @ git+https://github.com/huggingface/peft.git@03eb378eb914fbee709ff7c86ba5b1d033b89524
pexpect
pickleshare
Pillow==9.5.0
platformdirs
portalocker==2.7.0
prompt-toolkit
protobuf==3.20.3
psutil
ptyprocess
pure-eval
pyarrow==12.0.1
Pygments
pyparsing==3.0.7
python-dateutil
pytz==2023.3
PyYAML==6.0
pyzmq
regex==2023.6.3
requests==2.31.0
responses==0.18.0
rouge-score==0.1.2
sacrebleu==2.3.1
safetensors==0.3.1
-e git+https://github.com/salesforce/CodeTF.git@a83a850761ee7c6263324acda0eda4955b33cfdb#egg=salesforce_codetf
scikit-learn==1.0.2
scipy==1.10.1
sentencepiece==0.1.99
six
stack-data
tabulate==0.9.0
tensorboardX==2.6
threadpoolctl==3.1.0
tokenizers==0.13.3
torch==1.13.1
torchvision==0.14.1
tornado
tqdm==4.63.0
traitlets
transformers @ git+https://github.com/huggingface/transformers.git@ee88ae59940fd4b2c8fc119373143d7a1175c651
tree-sitter==0.20.1
typing_extensions
urllib3==2.0.3
wcwidth
xxhash==3.2.0
yarl==1.9.2
